{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Articles" %}</title>
</head>
<body>
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <select name="language" onchange="this.form.submit()">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% for lang_code, lang_name in LANGUAGES %}
            <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                {{ lang_name }}
            </option>
            {% endfor %}
        </select>
        <input type="hidden" name="next" value="{{ request.path }}">
    </form>
    
    <h1>{% trans "Articles" %}</h1>
    <ul>
        {% for article in articles %}
            <li>
                <h2><em>{{ article.title }}</em></h2>
                <p><em>{{ article.content }}</em></p>
                <p><em>{% trans "Publication Date:" %} {{ article.publication_date }}</em></p>
                <p><em>{% trans "Content:" %} {{ article.content }}</em></p>
                </li>
        {% endfor %}
    </ul>
    <p>{{ LANGUAGE_CODE }}</p>
    <p>{% trans "manger" %}</p>
    
    <a href="?lang=en" role="button">{% trans "English" %}</a> |
    <a href="?lang=fr" role="button">{% trans "French" %}</a> 
