{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% load static %}

<div class="title">
    <h1 class="articles">{% translate "Article list" %}:</h1>
    <ul>
        <li>
            <h1 class="article_title">{% translate "Title1" %}</h1>
            <p class="article_content">{% translate "Content1" %}</p>
            <p class="article_date">{% translate "Date1" %}</p>
        </li>
        <li>
            <h1 class="article_title">{% translate "Title2" %}</h1>
            <p class="article_content">{% translate "Content2" %}</p>
            <p class="article_date">{% translate "Date2" %}</p>
        </li>
        <li>
            <h1 class="article_title">{% translate "Title3" %}</h1>
            <p class="article_content">{% translate "Content3" %}</p>
            <p class="article_date">{% translate "Date3" %}</p>
        </li>
        <li>
            <h1 class="article_title">{% translate "Title4" %}</h1>
            <p class="article_content">{% translate "Content4" %}</p>
            <p class="article_date">{% translate "Date4" %}</p>
        </li>
        <li>
            <h1 class="article_title">{% translate "Title5" %}</h1>
            <p class="article_content">{% translate "Content5" %}</p>
            <p class="article_date">{% translate "Date5" %}</p>
        </li>


    </ul>
</div>

{% endblock %} 