{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% load static %}

<h1 class="articles">{% translate "Article list" %}:</h1>
<ul>
    <li>
        <h1 class="article_title">{% translate "Title1" %}</h1>
        <p class="article_content">{% translate "Content1" %}</p>
        <p class="article_date">{% translate "Date1" %}</p>
    </li>
    <li>
        <h1 class="article_title">{% translate "Title2" %}</h1>
        <p class="article_content">{% translate "Content2" %}</p>
        <p class="article_date">{% translate "Date2" %}</p>
    </li>

</ul>

{% endblock %} 